# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Create a District Summary

school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [3]:
# Total number of schools

school_data_complete["school_name"].value_counts()
total_schools = len(school_data_complete['school_name'].value_counts())
print(total_schools)

15

In [4]:
# Total number of students

total_Students = len(school_data_complete["student_name"])
print(total_Students)

39170

In [5]:
# Total budget

total_Budget = school_data_complete["budget"].sum()
print(total_Budget)

82932329558

In [15]:
# Average math score

avg_Math = school_data_complete["math_score"].mean()
print(avg_Math)

78.98537145774827

In [16]:
# Average reading score

avg_Read = school_data_complete["reading_score"].mean()
print(avg_Read)

81.87784018381414

In [18]:
# Overall average score

total_Score = avg_Math + avg_Read
print(total_Score)

160.86321164156243

In [19]:
# Percentage of passing math (70 or greater)

pass_Math = school_data_complete["math_score"] >= 70
print(pass_Math)
pass_Math.value_counts()

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

True     29370
False     9800
Name: math_score, dtype: int64

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [20]:
#  Sort and display the top five schools in overall passing rate

school_data_df = school_data_complete.groupby(["school_name"])
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [21]:
# Calculate total school budget

total_sch_budget = school_data_df["budget"].sum()

In [22]:
# Calculate per student budget

total_Student = school_data_df["size"].unique()
per_student_budget = total_sch_budget / total_Students

In [23]:
# Cacluate the avg math and reading score

avg_math = school_data_df["math_score"].mean()
avg_read = school_data_df["reading_score"].mean()

#### Find the passing rate for math and reading (above 70 points)

In [25]:
# Find the total counts of math result

total_math_count = school_data_df["math_score"].count()

# Find the counts for math result in each school that pass 70 or higher

math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
math_pass_school = math_pass.groupby(["school_name"])
math_pass_count = math_pass_school["math_score"].count()

# Calculate the math passing rate

math_pass_rate = math_pass_count / total_math_count
print(math_pass_rate)

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: math_score, dtype: float64

In [26]:
# Find the total counts of read result

total_read_count = school_data_df["reading_score"].count()

# Find the counts for read result in each school that pass 70 or higher

read_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
read_pass_school = read_pass.groupby(["school_name"])
read_pass_count = read_pass_school["reading_score"].count()

# Calculate the read passing rate

read_pass_rate = read_pass_count / total_read_count

In [27]:
# Calculate the overall passing rate (average of the math and reading passing rate)

avg_pass_rate = (math_pass_rate + read_pass_rate) / 2
print(avg_pass_rate)

school_name
Bailey High School       0.743067
Cabrera High School      0.955867
Figueroa High School     0.733639
Ford High School         0.738043
Griffin High School      0.952657
Hernandez High School    0.738080
Holden High School       0.943794
Huang High School        0.735002
Johnson High School      0.736400
Pena High School         0.952703
Rodriguez High School    0.732933
Shelton High School      0.948609
Thomas High School       0.952905
Wilson High School       0.952037
Wright High School       0.949722
dtype: float64

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [30]:
#  Sort and display the worst five schools in overall passing rate

school_data_df = school_data_complete.groupby(["school_name"])
school_data_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
2912,2912,Michael Combs,M,9th,Huang High School,98,95,0,District,2917,1910635
2913,2913,Monica Barajas,F,9th,Huang High School,64,81,0,District,2917,1910635
2914,2914,Carlos Garner,M,12th,Huang High School,66,73,0,District,2917,1910635
2915,2915,April Williams,F,12th,Huang High School,70,85,0,District,2917,1910635
2916,2916,Karen Blevins,F,10th,Huang High School,82,73,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [31]:
# Create table that lists the average math score for each school of each grade level.

In [32]:
# Calculate the average math score for 9th grade in each school

grade_9_series = school_data_complete.loc[school_data_complete["grade"] == "9th", :]
grade_9_df = grade_9_series.groupby(["school_name"])
grade_9_avg_math = grade_9_df["math_score"].mean()
print(grade_9_avg_math)

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [33]:
# Calculate the average math score for 10th grade in each school

grade_10_series = school_data_complete.loc[school_data_complete["grade"] == "10th", :]
grade_10_df = grade_10_series.groupby(["school_name"])
grade_10_avg_math = grade_10_df["math_score"].mean()
print(grade_10_avg_math)

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [34]:
# Calculate the average math score for 11th grade in each school

grade_11_series = school_data_complete.loc[school_data_complete["grade"] == "11th", :]
grade_11_df = grade_11_series.groupby(["school_name"])
grade_11_avg_math = grade_11_df["math_score"].mean()
print(grade_11_avg_math)

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [35]:
# Calculate the average math score for 12th grade in each school

grade_12_series = school_data_complete.loc[school_data_complete["grade"] == "12th", :]
grade_12_df = grade_12_series.groupby(["school_name"])
grade_12_avg_math = grade_12_df["math_score"].mean()
print(grade_12_avg_math)

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [36]:
# Create table that lists the average reading score for each school of each grade level.

In [37]:
# Calculate the average reading score for 9th grade in each school

grade_9_avg_read = grade_9_df["reading_score"].mean()
print(grade_9_avg_read)

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [38]:
# Calculate the average reading score for 10th grade in each school

grade_10_avg_read = grade_10_df["reading_score"].mean()
print(grade_10_avg_read)

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [39]:
# Calculate the average reading score for 11th grade in each school

grade_11_avg_read = grade_11_df["reading_score"].mean()
print(grade_11_avg_read)

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [40]:
# Calculate the average reading score for 12th grade in each school

grade_12_avg_read = grade_12_df["reading_score"].mean()
print(grade_12_avg_read)

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [41]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [52]:
# Create a new column to show budget per student in each row

school_data_complete["spending per student"] = school_data_complete["budget"] / school_data_complete["size"]

In [54]:
# Create a new column to define the spending ranges per student

school_data_complete["spending"] = pd.cut(
school_data_complete["spending per student"], spending_bins, labels=group_names)

In [59]:
# Calculate the average math score within each spending range

spending_range_df = school_data_complete.groupby(["spending"])
avg_math_range = spending_range_df["math_score"].mean()

In [62]:
# Calculate the percentage passing rate for math in each spending range

spending_math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
spending_math_pass_df = spending_math_pass.groupby(["spending"])
math_pass_sr = spending_range_df["math_score"].count()
math_total_sr = spending_range_df["math_score"].count()
math_pass_per_spend = math_pass_sr / math_total_sr

In [63]:
# Calculate the percentage passing rate for reading in each spending range

spending_range_df = school_data_complete.groupby(["spending"])
avg_read_range = spending_range_df["reading_score"].mean()

In [65]:
# Calculate the percentage overall passing rate in each spending range

spending_read_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
spending_read_pass_df = spending_read_pass.groupby(["spending"])
read_pass_sr = spending_range_df["reading_score"].count()
read_total_sr = spending_range_df["reading_score"].count()
read_pass_per_spend = read_pass_sr / read_total_sr

### Scores by School Size

* Perform the same operations as above, based on school size.

In [68]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [74]:
# Create a new column for the bin groups
school_data_complete["School size"] = pd.cut(school_data_complete["size"],
                                            size_bins, labels=group_names)

Look for the total count of test scores that pass 70% or higher

In [80]:
# math_pass_size
size_df = school_data_complete.groupby(["School size"])
avg_math_size = size_df["math_score"].mean()
test_count_size = size_df["math_score"].count()
math_pass_size = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]

math_pass_size_df = math_pass_size.groupby(["School size"])
math_count_size = math_pass_size_df["math_score"].count()
math_pass_rate_size = math_count_size / test_count_size
print(math_pass_rate_size)

School size
Small (<1000)         0.939525
Medium (1000-2000)    0.936165
Large (2000-5000)     0.686524
Name: math_score, dtype: float64

In [81]:
# read_pass_size

size_df = school_data_complete.groupby(["School size"])
avg_read_size = size_df["reading_score"].mean()
test_count_size = size_df["reading_score"].count()
read_pass_size = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]

read_pass_size_df = read_pass_size.groupby(["School size"])
read_count_size = read_pass_size_df["reading_score"].count()
read_pass_rate_size = read_count_size / test_count_size
print(read_pass_rate_size)

School size
Small (<1000)         0.960403
Medium (1000-2000)    0.967731
Large (2000-5000)     0.821252
Name: reading_score, dtype: float64

In [79]:
# Calculate the overall passing rate for different school size

overall_pass_rate_size = (math_pass_rate_size + read_pass_rate_size) / 2
print(overall_pass_rate_size)

School size
Small (<1000)         0.949964
Medium (1000-2000)    0.951948
Large (2000-5000)     0.753888
dtype: float64

### Scores by School Type

* Perform the same operations as above, based on school type.

In [83]:
# Create bins and groups, school type {'Charter', 'District'}

school_type = school_data_complete.groupby(["type"])
avg_math_type = school_type["math_score"].mean()
avg_read_type = school_type["reading_score"].mean()
test_count_type = school_type["math_score"].count()

Find counts of the passing 70 or higher score for the both test

In [84]:
# math pass size

math_pass_type = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
math_pass_type_df = math_pass_type.groupby(["type"])
math_count_type = math_pass_type_df["math_score"].count()
math_pass_rate_type = math_count_type / test_count_type

In [85]:
# reading pass size

read_pass_type = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
read_pass_type_df = read_pass_type.groupby(["type"])
read_count_type = read_pass_type_df["reading_score"].count()
read_pass_rate_type = read_count_type / test_count_type

In [86]:
# Calculate the overall passing rate

overall_pass_rate_type = (math_pass_rate_type + read_pass_rate_type) / 2
print(overall_pass_rate_type)

type
Charter     0.951739
District    0.737118
dtype: float64