# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [47]:
# Create a District Summary

school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [48]:
# Total number of schools

school_data_complete["school_name"].value_counts()
total_schools = len(school_data_complete['school_name'].value_counts())
print(total_schools)

15

In [49]:
# Total number of students

total_Students = len(school_data_complete["student_name"])
print(total_Students)

39170

In [50]:
# Total budget

total_Budget = school_data_complete["budget"].sum()
print(total_Budget)

82932329558

In [51]:
# Average math score

average_MathScore = school_data_complete["math_score"].mean()
print(average_MathScore)

78.98537145774827

In [52]:
# Average reading score

average_ReadingScore = school_data_complete["reading_score"].mean()
print(average_ReadingScore)

81.87784018381414

In [53]:
# Overall average score

overallaverage_Score = average_MathScore + average_ReadingScore
print(overallaverage_Score)

160.86321164156243

In [54]:
# Percentage of passing math (70 or greater)

passing_Math = school_data_complete["math_score"] >= 70

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [55]:
#  Sort and display the top five schools in overall passing rate

school_data_df = school_data_complete.groupby(["school_name"])
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [56]:
# Calculate total school budget

total_sch_budget = school_data_df["budget"].sum()

In [57]:
# Calculate per student budget

total_Student = school_data_df["size"].unique()
per_student_budget = total_sch_budget / total_Students

In [58]:
# Cacluate the avg math and reading score

math_ReadingScore = school_data_df["math_score"].mean()
average_ReadingScore = school_data_df["reading_score"].mean()

#### Find the passing rate for math and reading (above 70 points)

In [59]:
# Find the total counts of math result

total_math_count = school_data_df["math_score"].count()

# Find the counts for math result in each school that pass 70 or higher

passing_Math = school_data_complete.loc[school_data_complete["math_score"] >= 70]

# Calculate the math passing rate

passing_Math_Rate = passing_Math / total_math_count

In [60]:
# Find the total counts of read result

total_read_count = school_data_df["reading_score"].count()

# Find the counts for read result in each school that pass 70 or higher

passing_Read = school_data_complete.loc[school_data_complete["reading_score"] >= 70]

# Calculate the read passing rate

passing_Reading_Rate = passing_Read / total_read_count

In [34]:
# Calculate the overall passing rate (average of the math and reading passing rate)

percentageOverallPassingRate = (passing_Math_Rate + passing_Reading_Rate) / 2
print(percentageOverallPassingRate)

       Bailey High School  Cabrera High School  Figueroa High School  \
0                     NaN                  NaN                   NaN
1                     NaN                  NaN                   NaN
2                     NaN                  NaN                   NaN
4                     NaN                  NaN                   NaN
5                     NaN                  NaN                   NaN
...                   ...                  ...                   ...
39165                 NaN                  NaN                   NaN
39166                 NaN                  NaN                   NaN
39167                 NaN                  NaN                   NaN
39168                 NaN                  NaN                   NaN
39169                 NaN                  NaN                   NaN

       Ford High School  Griffin High School  Hernandez High School  \
0                   NaN                  NaN                    NaN
1                   NaN                  NaN                    NaN
2                   NaN                  NaN                    NaN
4                   NaN                  NaN                    NaN
5                   NaN                  NaN                    NaN
...                 ...                  ...                    ...
39165               NaN                  NaN                    NaN
39166               NaN                  NaN                    NaN
39167               NaN                  NaN                    NaN
39168               NaN                  NaN                    NaN
39169               NaN                  NaN                    NaN

       Holden High School  Huang High School  Johnson High School  \
0                     NaN                NaN                  NaN
1                     NaN                NaN                  NaN
2                     NaN                NaN                  NaN
4                     NaN                NaN                  NaN
5                     NaN                NaN                  NaN
...                   ...                ...                  ...
39165                 NaN                NaN                  NaN
39166                 NaN                NaN                  NaN
39167                 NaN                NaN                  NaN
39168                 NaN                NaN                  NaN
39169                 NaN                NaN                  NaN

       Pena High School  ...  Wright High School  budget  gender  grade  \
0                   NaN  ...                 NaN     NaN     NaN    NaN
1                   NaN  ...                 NaN     NaN     NaN    NaN
2                   NaN  ...                 NaN     NaN     NaN    NaN
4                   NaN  ...                 NaN     NaN     NaN    NaN
5                   NaN  ...                 NaN     NaN     NaN    NaN
...                 ...  ...                 ...     ...     ...    ...
39165               NaN  ...                 NaN     NaN     NaN    NaN
39166               NaN  ...                 NaN     NaN     NaN    NaN
39167               NaN  ...                 NaN     NaN     NaN    NaN
39168               NaN  ...                 NaN     NaN     NaN    NaN
39169               NaN  ...                 NaN     NaN     NaN    NaN

       math_score  reading_score  school_name  size student_name type
0             NaN            NaN          NaN   NaN          NaN  NaN
1             NaN            NaN          NaN   NaN          NaN  NaN
2             NaN            NaN          NaN   NaN          NaN  NaN
4             NaN            NaN          NaN   NaN          NaN  NaN
5             NaN            NaN          NaN   NaN          NaN  NaN
...           ...            ...          ...   ...          ...  ...
39165         NaN            NaN          NaN   NaN          NaN  NaN
39166         NaN            NaN          NaN   NaN          NaN  NaN
39167         NaN            NaN          NaN   NaN          NaN  NaN
39168         NaN            NaN          NaN   NaN          NaN  NaN
39169         NaN            NaN          NaN   NaN          NaN  NaN

[37452 rows x 26 columns]

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [61]:
#  Sort and display the worst five schools in overall passing rate

school_data_df = school_data_complete.groupby(["school_name"], ascending=False)
school_data_df.head()

TypeError: groupby() got an unexpected keyword argument 'ascending'

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [45]:
# Create table that lists the average math score for each school of each grade level.

grade_summary_df = pd.DataFrame({"9th": grade9th_ds,
      "10th": grade10th_ds,
      "11th": grade11th_ds,
      "12th": grade12th_ds})

grade_summary_df[["9th", "10th", "11th", "12th"]]

NameError: name 'grade9th_ds' is not defined

In [41]:
# Calculate the average math score for 9th grade in each school

grade_9_series = school_data_complete.loc[school_data_complete["grade"] == "9th", :]
grade_9_df = grade_9_series.groupby.(["school_name"])
grade_9_average_math = grade_9_df["math_score"].mean()

SyntaxError: invalid syntax (3041212024.py, line 4)

In [42]:
# Calculate the average math score for 10th grade in each school

grade_10_series = school_data_complete.loc[school_data_complete["grade"] == "10th", :]
grade_10_df = grade_10_series.groupby.(["school_name"])
grade_10_average_math = grade_10_df["math_score"].mean()

SyntaxError: invalid syntax (4147730118.py, line 4)

In [43]:
# Calculate the average math score for 11th grade in each school

grade_11_series = school_data_complete.loc[school_data_complete["grade"] == "11th", :]
grade_11_df = grade_11_series.groupby.(["school_name"])
grade_11_average_math = grade_11_df["math_score"].mean()

SyntaxError: invalid syntax (2849436903.py, line 4)

In [44]:
# Calculate the average math score for 12th grade in each school

grade_12_series = school_data_complete.loc[school_data_complete["grade"] == "12th", :]
grade_12_df = grade_12_series.groupby.(["school_name"])
grade_12_average_math = grade_12_df["math_score"].mean()

SyntaxError: invalid syntax (2890169479.py, line 4)

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [62]:
# Create table that lists the average reading score for each school of each grade level.

grade_summary_df = pd.DataFrame({"9th": grade9th_ds,
      "10th": grade10th_ds,
      "11th": grade11th_ds,
      "12th": grade12th_ds})

grade_summary_df[["9th", "10th", "11th", "12th"]]

NameError: name 'grade9th_ds' is not defined

In [88]:
# Calculate the average reading score for 9th grade in each school

grade_9_series = school_data_complete.loc[school_data_complete["grade"] == "9th", :]
grade_9_df = grade_9_series.groupby.(["school_name"])
grade_9_average_math = grade_9_df["reading_score"].mean()

In [89]:
# Calculate the average reading score for 10th grade in each school

grade_10_series = school_data_complete.loc[school_data_complete["grade"] == "10th", :]
grade_10_df = grade_10_series.groupby.(["school_name"])
grade_10_average_math = grade_10_df["reading_score"].mean()

In [90]:
# Calculate the average reading score for 11th grade in each school

grade_11_series = school_data_complete.loc[school_data_complete["grade"] == "11th", :]
grade_11_df = grade_11_series.groupby.(["school_name"])
grade_11_average_math = grade_11_df["reading_score"].mean()

In [91]:
# Calculate the average reading score for 12th grade in each school

grade_12_series = school_data_complete.loc[school_data_complete["grade"] == "12th", :]
grade_12_df = grade_12_series.groupby.(["school_name"])
grade_12_average_math = grade_12_df["math_score"].mean()

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [25]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [63]:
# Create a new column to show budget per student in each row

school_data_complete["budget per student"] = school_data_complete["budget"] / school_data_complete["size"]

In [65]:
# Create a new column to define the spending ranges per student

school_data_complete["budget"] = pd.cut(
school data_complete["budget per student"], speding_bins, labels=group_names)

SyntaxError: invalid syntax (2669449698.py, line 4)

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [1]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [107]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [20]:
# Create bins and groups, school type {'Charter', 'District'}

school_summary_df[["School Type",
            "Total Students",
            "Total School Budget",
            "Per Student Budget",
            "Average Math Score",
            "Average Reading Score",
            "Passing Math",
            "Passing Reading"]].head()

school_summary_df = school_summary_df.reset_index()

NameError: name 'school_summary_df' is not defined

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate