# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [35]:
# Create a District Summary

district_summary_df = [["Total Schools",
    "Total Students",
    "Total Budget",
    "Average Math Schore",
    "Average Reading Score",
    "Overall Average Score",
    "Percent Passing Math"]]

In [33]:
# Total number of schools

totalSchools = school_data_complete["school_name"].nunique()

In [19]:
# Total number of students

totalStudents = school_data_complete["Student ID"].nunique()

In [20]:
# Total budget

totalBudget = school_data_complete["budget"].sum()

In [22]:
# Average math score

averageMathScore = school_data_complete["math_score"].mean()

In [23]:
# Average reading score

averageReadingScore = school_data_complete["reading_score"].mean()

In [25]:
# Overall average score

overallaverageScore = (averageMathScore + averageReadingScore) / 2

In [27]:
# Percentage of passing math (70 or greater)

passingMath = len(school_data_complete[school_data_complete["math_score"] >= 70])

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [37]:
#  Sort and display the top five schools in overall passing rate

grouped_school_df = school_data_complete.groupby(["school_name"])

In [38]:
# Calculate total school budget

totalSchoolBudget = grouped_school_df["budget"].first()

In [40]:
# Calculate per student budget

perStudentBudget = totalSchoolBudget / totalStudents

In [41]:
# Cacluate the avg math and reading score

averageReadingScore = grouped_school_df["reading_score"].mean()

#### Find the passing rate for math and reading (above 70 points)

In [50]:
# Find the total counts of math result

totalStudents = grouped_school_df["math_score"].count()

# Find the counts for math result in each school that pass 70 or higher

passingMath = school_data_complete[school_data_complete["math_score"] >= 70]

# Calculate the math passing rate

percentagePassingMath = passingMath / totalStudents * 100

In [52]:
# Find the total counts of read result

totalStudents = grouped_school_df["reading_score"].count()

# Find the counts for read result in each school that pass 70 or higher

passingRead = school_data_complete[school_data_complete["reading_score"] >= 70]

# Calculate the read passing rate

percentagePassingReading = passingRead / totalStudents * 100

In [53]:
# Calculate the overall passing rate (average of the math and reading passing rate)

percentageOverallPassingRate = (percentagePassingMath + percentagePassingReading) / 2

In [68]:
school_summary_df = pd.DataFrame({"School Type",
                                 "Total Students",
                                 "Total School Budget",
                                 "Per Student Budget",
                                 "Average Math Score",
                                 "Average Reading Score",
                                 "% Passing Math",
                                 "% Passing Reading",
                                 "% Overall Passing Rate"})

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [77]:
#  Sort and display the worst five schools in overall passing rate

school_summary_df = school_summary_df.sort_values(["Overall Passing Rate"], ascending=True)

school_summary_df[["School Type",
            "Total Students",
            "Total School Budget",
            "Per Student Budget",
            "Average Math Score",
            "Average Reading Score",
            "Passing Math",
            "Passing Reading",
            "Overall Passing Rate"]].head()

KeyError: 'Overall Passing Rate'

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [58]:
# Create table that lists the average math score for each school of each grade level.

NameError: name 'school_summary_df' is not defined

In [78]:
# Calculate the average math score for 9th grade in each school

grade9th_ds = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["math_score"].mean()

In [79]:
# Calculate the average math score for 10th grade in each school

grade10th_ds = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["math_score"].mean()

In [80]:
# Calculate the average math score for 11th grade in each school

grade11th_ds = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()

In [81]:
# Calculate the average math score for 12th grade in each school

grade12th_ds = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [86]:
# Create table that lists the average reading score for each school of each grade level.

grade_summary_df = pd.DataFrame({"9th": grade9th_ds,
      "10th": grade10th_ds,
      "11th": grade11th_ds,
      "12th": grade12th_ds})

grade_summary_df[["9th", "10th", "11th", "12th"]]

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [88]:
# Calculate the average reading score for 9th grade in each school

grade9th_ds2 = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["reading_score"].mean()

In [89]:
# Calculate the average reading score for 10th grade in each school

grade10th_ds2 = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["reading_score"].mean()

In [90]:
# Calculate the average reading score for 11th grade in each school

grade11th_ds2 = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()

In [91]:
# Calculate the average reading score for 12th grade in each school

grade12th_ds2 = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [92]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [97]:
# Create a new column to show budget per student in each row

In [ ]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate